*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log
TF_LOG
*.log

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
state-backup.json